<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一个神奇的网页</title>
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>




    <div class="shell" id="shell">
        <div class="header">
            <h2 class="title">Mingの神奇小窝</h2>
            <h3 class="subtitle_main">《原》</h3>
        </div>
        <div class="timeline">


            <div class="item" data-text="【个人介绍】">
                <div class="content">
                    <img class="img" src="../source/钟离.png" onclick="window.location.href='./introduce.html'">
                    <h3 class="content-title">契约</h3>
                    <p class="content-desc">
                        旅途总会引来终点，不必匆忙。当你重新踏上旅途之后，一定不要忘记旅途本身的意义。

                    </p>
                </div>
            </div>

            <div class="item" data-text="【兴趣爱好】">
                <div class="content">
                    <img class="img" src="../source/雷神.jpg" onclick="window.location.href='./hobby_all.html'">
                    <h2 class="content-title">永恒</h2>
                    <p class="content-desc">
                        风带来新的故事，时间使之成为神话。正如烟花虽然转瞬即逝，
                        绚烂的光影却能永远留存在人们的心中。
                    </p>
                </div>
            </div>

            <div class="item" data-text="【天籁之音】">
                <div class="content">
                    <img class="img" src="../source/温迪.jpg" onclick="window.location.href='./sing_all.html'">
                    <h2 class="content-title">自由</h2>
                    <p class="content-desc">
                        如果我们要再会，就在夕阳与海面相遇的地方再会吧。到那时，再让我看看你如同钻石一般
                        明净而璀璨的灵魂，是否蒙上了一缕尘埃吧。
                    </p>
                </div>
            </div>


            <div class="item" data-text="【校园风景】">
                <div class="content">
                    <img class="img" src="../source/小草神.jpg" onclick="window.location.href='./scence.html'">
                    <h2 class="content-title">智慧</h2>
                    <p class="content-desc">
                        心有所向，日复一日，必有精进。只要坚定自己的信念，就无所谓天气是晴是雨。
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="footer"><a>旅途还在继续，前面的风景，以后再来探索叭~</a>
        <br>
        <br>
        <a href="./yuanshen.html" style="color: rgb(17, 165, 224);">[不行，我非要]</a>
    </div>


    <button class="btn" id="myButton"> 返回上一页
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <!-- <script>
        logq(jQuery)
        $("#shell").timeline();
    </script> -->

</body>

</html>