<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/scene.css">
</head>

<body>




    <div class="shell">
        <div class="box">
            <div class="images">
                <img src="../source/校园1.jpg" onclick="showBigImage('../source/校园1_big.jpg')">
            </div>
            <div class="content">
                <h2>夏夜</h2>
                <p>在某个夏天的夜晚，天空无星无云，从宿舍楼往上看，更显一分明皓。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园6.jpg" onclick="showBigImage('../source/校园6_big.jpg')">
            </div>
            <div class="content">
                <h2>夕阳</h2>
                <p>在河源的时候，看天永远是一种享受。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园3.jpg" onclick="showBigImage('../source/校园3_big.jpg')">
            </div>
            <div class="content">
                <h2>雨后的路</h2>
                <p>夜晚的白云校区，刚下过雨的地上，仍有积水反射着路灯的光。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园7.jpg" onclick="showBigImage('../source/校园7_big.jpg')">
            </div>
            <div class="content">
                <h2>朝阳</h2>
                <p>早上的太阳，耀眼而温暖。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园8.jpg" onclick="showBigImage('../source/校园8_big.jpg')">
            </div>
            <div class="content">
                <h2>晴天·彩虹</h2>
                <p>河源的天空，总能给人放松的感觉，特别是挂上彩虹之后。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园5.jpg" onclick="showBigImage('../source/校园5_big.jpg')">
            </div>
            <div class="content">
                <h2>球场</h2>
                <p>也许在球场上挥洒汗水对大部分男生来说都是一件很酷的事情。
                </p>
            </div>
        </div>
        <!-- <span>肯定少不了美食啦</span> -->
        <div class="box">
            <div class="images">
                <img src="../source/校园2.jpg" onclick="showBigImage('../source/校园2_big.jpg')">
            </div>
            <div class="content">
                <h2>猫猫</h2>
                <p>你可以永远相信猫咪对大学生的信任，何况在广师大。
                </p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="../source/校园9.jpg" onclick="showBigImage('../source/校园9_big.jpg')">
            </div>
            <div class="content">
                <h2>阴天·彩虹</h2>
                <p>即使是阴天，仍有彩虹。那么天晴天暗又有什么所谓呢。
                </p>
            </div>
        </div>

    </div>


    <!-- <br>
    <div>
        还有更多好看的风景等待探索呢~
    </div> -->

    <button class="btn_space" type="button" onclick="location.href='./donghua.html'">
        <strong>动画书</strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>

        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </button>


    <button class="btn" id="myButton"> 返回上一页
    </button>


    <script src="../js/scene.js"></script>
</body>

</html>