<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/yuanshen.css">
</head>

<body onclick="redirectToImage()">

    <video autoplay muted loop poster="poster.png">
        <source src="../source/横版-原神-昼.mp4" type="video/mp4">
        <!-- <source src="background_video.webm" type="video/webm"> -->
        Your browser does not support HTML5 video.
    </video>


    <!-- 添加按钮元素 -->
    <button class="button">点击进入</button>


    <script src="../js/yuanshen.js"></script>

</body>

</html>